{% extends 'base_gerencia.html' %}

{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Categorias</title>
</head>
<body>
    <h1>Listagem de Categorias</h1>
    <form method="get">
        {{ formularioFiltro.as_p }}
        <button type="submit">Filtrar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nome }}</td>
                <td>
                    <a href="{% url 'gerencia:editar_categoria' categoria.id %}">Editar</a>
                    <a href="{% url 'gerencia:excluir_categoria' categoria.id %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if categorias.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ categorias.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ categorias.number }} de {{ categorias.paginator.num_pages }}.
            </span>

            {% if categorias.has_next %}
                <a href="?page={{ categorias.next_page_number }}">próxima</a>
                <a href="?page={{ categorias.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>

{% endblock %}