{% extends 'base_gerencia.html' %}

{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="<https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css>">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Cadastro de Usuário</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Campos de Cadastro -->
                            <div class="form-group">
                                <label for="username">Nome de Usuário</label>
                                <input type="text" name="username" id="username" class="form-control" required>
                                {% if form.username.errors %}
                                    <div class="text-danger">{{ form.username.errors.0 }}</div>
                                {% endif %}
                            </div>
                            <!-- Campos adicionais (CPF, cidade, nome da mãe, endereço, bairro) -->
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



{% endblock %}